html, body {
    height: 100%;
}

body {
    margin: auto 0;
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #e5a0d3;
    color: white;
    padding: 2em;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 0px;
}

.title {
    display: inline-block;
    text-align: right;
}

.content {
    color: #11008c;
    margin: 2em;
    flex: 1 0 auto;
    justify-content: center;
    align-content: center;
}

@media only screen and (min-width: 1000px){
    .content {
        margin: 2em 10em;
    }
}

ul {
    list-style: none;
    padding-left: 10px;
}

li {
    margin: 2em 1em;
}

a {
    text-decoration: none;
    color: #2740c8;
}

hr {
    color: #f6492c;
    border-width: 1 px;
    box-shadow: 2px 2px 3px #fefc05;
}

.featured {
    background-color: #f6492c;
    padding: 1em;
    color: whitesmoke;
    box-shadow: 4px 4px 5px #fefc05;
}

footer {
    flex-shrink: 0;
    text-align: center;
    color: white;
    background-color: #35c5a1;
    padding: 1em;
}
